div.title a.title {
  font-weight: 900;
}
div.vp-doc p {
  text-indent: 2rem;
  text-align: justify;
  text-justify: inter-word;
}
div.vp-doc h1 {
  font-weight: 900;
}
div.vp-doc h2 {
  font-weight: 800;
  border-top: none;
}
